  .card2 {
    width: 300px;

    padding: 20px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
  }
  .card2 button{
    width: 80%;
    margin: 10px;
    
  }
  
  